/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.app {
  width: 100%;
  height: 100%;
  position: fixed;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  user-select: none;
}

.app.dark {
  background-color: #000;
  color: #CCC;
}

.app.light {
  background-color: #fff;
  color: #000;
}

.safe-area {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

.scorer {
  display: grid;
  grid-row-gap: 20px;
}

.teams {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-around;
}

.team-score {
  text-align: center;
  font-size: 30px;
  padding: 5px;
  margin-top: 10px;
}

.bets {
  text-align: center;
  margin-top: 40px;
}

.bet {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  justify-content: center;
  grid-column-gap: 15px;
}

.lighting,
.settings-toggle,
.bet-success,
.bet-radio,
.cv-check {
  display: none;
}

.bet-success-label.successful {
  background: rgb(113, 190, 68);
  color: white;
  border: 1px solid rgb(113, 190, 68);
  padding: 0 4px;
}

.dark .bet-success-label.successful {
  color: #444;
}

.bet-success-label:not(.successful) {
  color: rgb(190, 96, 68);
  border: 1px solid rgb(190, 96, 68);
}

.cv-check:checked + label,
.bet-radio:checked + label {
  font-weight: 600;
  border-bottom: 2px solid #DBB004;
}

.bet-success-label {
  padding: 0 3px;
  box-sizing: border-box;
  border-radius: 4px;
}

.view-actions {
  display: flex;
  justify-content: space-around;
}

.score,
.dark .score {
  width: 150px;
  padding: 10px 0;
  background-color: #DBB004;
  color: #000;
}

.undo,
.clear {
  padding: 10px 20px;
}

.dark .uh-oh,
.light .uh-oh {
  color: red;
  font-weight: 500;
  border: 1px red solid;
  background: repeating-linear-gradient(
    45deg,
    yellow,
    yellow 10px,
    black 10px,
    black 20px
  );
  text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.settings-container {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: inherit;
  margin: 20px;
  text-align: right;
}

.settings {
  margin-bottom: 10px;
  border: 1px solid #CCC;
  border-radius: 20px;
  padding: 10px;
  background: #EEE;
  width: 150px;
  text-align: left;
}

.settings-container.avail .settings-label:after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: red;
  position: absolute;
}

.update {
  width: 100%;
}

.settings-container.avail .update {
  background: red;
}

.dark .settings {
  border-color: #333;
  background: #111;
}

.lighting-label {
  padding: 3px 6px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #CCC;
    margin: 1em 0;
    padding: 0;
    margin: 10px 0;
}

.dark hr {
  border-color: #333;
}

.dark button {
  background: #444;
  color: #CCC;
}

button {
  cursor: pointer;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 10px;
  background: #CCC;
  padding: 6px 20px;
  color: #000;
}

