/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bets {
  text-align: center;
  margin-top: 40px;
}

.bet {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  justify-content: center;
  grid-column-gap: 15px;
}

.lighting,
.settings-toggle,
.bet-success,
.bet-radio,
.cv-check {
  display: none;
}

.bet-success-label.successful {
  background: rgb(113, 190, 68);
  color: white;
  border: 1px solid rgb(113, 190, 68);
  padding: 0 4px;
}

.dark .bet-success-label.successful {
  color: #444;
}

.bet-success-label:not(.successful) {
  color: rgb(190, 96, 68);
  border: 1px solid rgb(190, 96, 68);
}

.cv-check:checked + label,
.bet-radio:checked + label {
  font-weight: 600;
  border-bottom: 2px solid #DBB004;
}

.bet-success-label {
  padding: 0 3px;
  box-sizing: border-box;
  border-radius: 4px;
}

.view-actions {
  display: flex;
  justify-content: space-around;
}

.uh-oh {
  color: red;
  font-weight: 500;
  border: 1px red solid;
  background: repeating-linear-gradient(
    45deg,
    yellow,
    yellow 10px,
    black 10px,
    black 20px
  );
  text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.settings-container {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: inherit;
  margin: 20px;
  text-align: right;
}

.settings-container.avail .settings-label:after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: red;
  position: absolute;
}

.settings-container.avail .update {
  background: red;
}

.lighting-label {
  padding: 3px 6px;
}

button {
  cursor: pointer;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
}

