/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bets {
  text-align: center;
  margin-top: 40px;
}

.bet {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  justify-content: center;
  grid-column-gap: 15px;
}

.lighting,
.settings-toggle,
.bet-success,
.bet-radio,
.cv-check {
  display: none;
}

.uh-oh {
  color: red;
  font-weight: 500;
  border: 1px red solid;
  background: repeating-linear-gradient(
    45deg,
    yellow,
    yellow 10px,
    black 10px,
    black 20px
  );
  text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.settings-container.avail .settings-label:after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: red;
  position: absolute;
}

button {
  cursor: pointer;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
}

